<h1>Menu</h1>
Welcome !
<h2>Utilisateurs</h2>
<a href="register">Créer un utilisateur</a><br/>

<a href="signin">Se connecter</a><br/>


<h2>Catégories</h2>
<a href="addcategorie">Ajouter une categorie</a><br/>

<a href="editcategorie">Modifier une categorie</a><br/>

<a href="listcategorie">Liste des categories</a><br/>

<h2>Administration</h2>
<a href="administration">Administration</a><br/>


